@font-face {
    font-family: Playfair Display;
    src: url(playfairdisplay-variablefont_wght.ttf);
}

.jumbotron{
    margin: 3% 15%;
    margin-top: 3%;
    background-color: #858482;
}

body {
    font-family: Playfair Display;
    background-color: black;
}

#Main {
  background-image: url(images/darkbg.jpg);
  background-size: cover;
  background-repeat:no-repeat;
}

.main{
    background-color: black;
    height: 100%;
}

footer{
    background-color: #858482;
    height: 420px;
    width: 1300px;

}

footer a{
    text-decoration: none;
    color: #38572e;
}
.display-4{
    font-size: 30pt;
    color: rgb(255, 250, 238);
}
.lead {
    font-size: 24pt;
    color: rgb(255, 250, 238);
    text-align: center;
}
h2{
    font-size: 48pt;
    color: white;
    text-align: center;
}
h4{
    font-size: 24pt;
    color: #38572ec2;
    text-align: center;
}
p1{
    font-size: 18pt;
    color: #38572ec2;
    margin-left: 450px;
}
h3{
    font-size: 48pt;
    color: #38572e;
    padding-top: 550px;
    text-align: center;
}
h7{
    font-size: 20pt;
    color: #38572ec4;
    position: relative;
    top: -180pt;
    padding-left: 15pt;
    margin-left: 150pt;

}
h8{
    font-size: 20pt;
    color: #38572ec4;
    position: relative;
    top: 295pt;
    margin-left: 130pt;
}
h9{
    font-size: 20pt;
    color: #38572ec4;
    position: relative;
    top: 295pt;
    margin-left: 145pt;
}

.container1{
    width: 90%;
    position: relative;
    top: -800px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.container2{
    width: 90%;
    position: relative;
    top: -600px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box{
    width: 368px;
    margin: 0 25px;
    transition: 1s;
    padding-top: 4%;
    padding-bottom: 5%;
}

.box img{
    display: block;
    width:100%;
    border-radius: 50px;
}
.box:hover{
    transform: scale(1.1);
    z-index: 2;

}
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
    background-color: #5d8f4e;
    height: 545px;
    width: 1024px;
    text-align: center;
    padding-top: 70px;
    padding-right: 100px;
    padding-left: 100px;
  }
  table, tr, td {
    border:1px solid rgba(126, 160, 117, 0);
    color: #2b4223c4;
    margin-left: 1100px;
  }
  table{
      top: -45px;
  }
  p.none {border-style: none;}
  a{
      font-size: 16pt;
      margin-left: 140px;
  }

  .headingMove {
    text-align: center;
  }
  .goodCard {
    margin-left: auto;
    margin-right: auto;
  }
  #shop {
    padding-top: 1%;
  }
  #form-body {
    margin: 4% 30%;
  }

  #FAQ {
    background-image: url(images/darkbg.jpg);
    background-size: cover;
    background-repeat:no-repeat;
  }
  .FAQ{
      font-size:small;
      text-align: center;
      color: beige;
  }
  .Questions{
      padding-bottom: 130px;
      background-color: #858482;
  }
  h1{
      font-size: medium;
      font-weight: bold;
      color: beige;
  }

  p{
    font-size: small;
    color: beige;
  }

  .foot {
          font-size: medium;
          position: fixed;
          bottom: 0;
         	width: 100%	;
          color: #ffffff;
          background-color: #858482;
          padding: 2.5px 0;
          text-align: center;
  }
